.btn{
  display: inline-block;
  margin-top: 1rem;
  &:not(:last-child){
    margin-right:1rem;
  }
}

.noticeBox{
  width:100%;
  padding:20px;
  background-color:#eeeeee;
  border-radius: 5px;
  margin-top:1rem;
  text-align: center;
}

input {
  border:1px solid;
}